<header class="top-line">
    <div class="container-top-line">
        <button class="menu-btn" type="button"><svg class="menu-icon" width="24" height="24">
                <use href="/images/icons.svg#menu-icon"></use>
            </svg></button>
        <nav>
            <ul class="list-header-nav">
                <li class="link-nav-headr current"><a href="#yoga-classes">Yoga Classes</a></li>
                <li class="link-nav-headr"><a href="#team">Team</a></li>
                <li class="link-nav-headr"><a href="#testimonials">Testimonials</a></li>
                <li class="link-nav-headr"><a href="#pricing">Pricing</a></li>
                <li class="link-nav-headr"><a href="#contacts">Contacts</a></li>
            </ul>
        </nav>
        <svg class="yoga-logo" width="84" height="36">
            <use href="/images/icons.svg#yoga-logo"></use>
        </svg>
        <a href="#pricing" class="button-header button-anim">
            <span class="btn-short-header">Join</span>
            <span class="btn-long-headr">Join now</span></a>
    </div>
</header>